.cm-style1 {
  color: rgb(215, 0, 0) !important;
}
.cm-style2 {
  color: #00f !important;
}
.cm-style3 {
  color: rgb(67, 179, 205) !important;
}
.cm-style4{
  color: rgb(215, 0, 179) !important;
}
.cm-style5{
  color:rgb(14, 79, 20) !important;
}
nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Adjust the margin as needed */
}